<?xml version="1.0"?>

<robot name="picker_gazebo"
	xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:arg name="robot_name" default="picker_X"/>

	<xacro:include filename="$(find robots_description)/urdf/common.gazebo.xacro"/>

	<xacro:macro name="picker_gazebo" params="robot_name">

		<xacro:common_gazebo robot_name="$(arg robot_name)"/>

		<gazebo reference="${robot_name}/robot">
			<material>Gazebo/Green</material>
		</gazebo>

		<gazebo reference="${robot_name}/imu">
			<gravity>true</gravity>
			<sensor name="${robot_name}_imu_sensor" type="imu">
				<always_on>true</always_on>
				<update_rate>100</update_rate>
				<visualize>false</visualize>
				<plugin name="${robot_name}_imu_gazebo_plugin" filename="libgazebo_ros_imu_sensor.so">
					<ros>
						<namespace>${robot_name}</namespace>
						<remapping>~/out:=imu</remapping>
					</ros>
					<bodyName>${robot_name}/imu</bodyName>
					<updateRateHZ>10.0</updateRateHZ>
					<xyzOffset>0 0 0</xyzOffset>
					<rpyOffset>0 0 0</rpyOffset>
					<frameName>${robot_name}/imu</frameName>
					<initialOrientationAsReference>false</initialOrientationAsReference>
				</plugin>
				<pose>0 0 0 0 0 0</pose>
			</sensor>
		</gazebo>

	</xacro:macro>
</robot>